Options -MultiViews

RewriteEngine On

RewriteRule ^api/ - [L]
RewriteRule ^mail/ - [L]
RewriteRule ^uploads/ - [L]
RewriteRule \.php$ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.html [L]
