Options -MultiViews

RewriteEngine On
RewriteBase /Nuevo/

RewriteRule ^mail/ - [L]
RewriteRule \.php$ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.html [L]
