.banner {
  width: 90%;
  margin: 60px auto;

  background: linear-gradient(90deg, #1f46ff, #234eff);

  border-radius: 18px;

  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;

  color: white;
}

.banner-info {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

.banner-left span {
  font-size: 14px;
  font-weight: 700;
}

.banner-left h2 {
  font-size: 90px;
  line-height: 1;
  color: white;
}

.banner-left p {
  font-size: 28px;
  font-weight: 700;
}

.banner-text h3 {
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 20px;
  max-width: 500px;
}

.banner-text button {
  background: transparent;
  border: 2px solid white;
  color: white;

  padding: 12px 28px;

  border-radius: 999px;

  cursor: pointer;

  font-weight: 700;

  transition: 0.3s;
}

.banner-text button:hover {
  background: white;
  color: #1f46ff;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------Mobile--------------------------------- */
@media (max-width: 768px) {

  .banner {
    width: calc(100% - 40px);

    margin: 60px auto;

    grid-template-columns: 1fr;
  }

  .banner-info {
    flex-direction: column;

    align-items: flex-start;

    padding: 34px 26px;

    gap: 26px;
  }

  .banner-left h2 {
    font-size: 72px;
  }

  .banner-left p {
    font-size: 22px;
  }

  .banner-text h3 {
    font-size: 22px;

    line-height: 1.4;

    max-width: 100%;
  }

  .banner-text button {
    width: 100%;

    max-width: 260px;

    height: 56px;
  }

  .banner-image {
    height: 240px;
  }

}