.header {
  height: 90px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;

  position: sticky;
  top: 0;

  z-index: 1000;
}

.logo-container img {
  height: 85px;
}

/* NAV DESKTOP */

.nav {
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 18px;
}

/* HAMBURGUESA */

.menu-toggle {
  display: none;
  font-size: 34px;
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 768px) {

  .header {
    height: 80px;
    padding: 0 20px;
  }

  .logo-container img {
    height: 60px;
  }

  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;

    top: 80px;
    left: 0;

    width: 100%;

    background: white;

    display: none;
    flex-direction: column;

    padding: 30px 0;

    gap: 25px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  }

  .nav.active {
    display: flex;
  }

  .nav a {
    font-size: 22px;
  }

}